@model List<User>


<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css"
      integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w=="
      crossorigin="anonymous" referrerpolicy="no-referrer" />
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"
      integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">
<link rel="icon" href="https://laptop-react-web.web.app/static/media/logo_tran_phat.d761b569.png">
<link rel="stylesheet" href="~/css/admin.css" asp-append-version="true" />


    <div class="right_admin_page_header">
        <h2>DANH SÁCH QUẢN LÝ</h2>
    </div>
    <div class="right_admin_table_list">
        <h3 class="deleteLaptopSuccess"></h3>
        <h3 class="deleteLaptopSuccess"></h3>
        <a href="admin_user_dashboard_add" class="add-user-btn">
            <button type="button" class="btn btn-success create-restaurant-btn">
                <i class="bi bi-plus-circle"></i>
            </button>
        </a>
        <table class="table table_user_list list_restaurant">
            <thead>
                <tr>
                    <th class="th-bg" scope="col">ID</th>
                    <th class="th-bg" scope="col">Name</th>
                    <th class="th-bg" scope="col">Password</th>
                    <th class="th-bg" scope="col">Role</th>
                    <th class="th-bg" scope="col">
                        <i data-bs-toggle="tooltip" data-bs-placement="top"
                           data-bs-title="Sửa" class="bi bi-pencil-square"></i>
                    </th>
                    <th class="th-bg" scope="col">
                        <i data-bs-toggle="tooltip" data-bs-placement="top"
                           data-bs-title="Xóa" class="bi bi-trash"></i>
                    </th>
                </tr>
            </thead>
            <tbody class="body_restaurant">
                
            @foreach(User user in Model)
            {
                <tr class="hover-item-restaurant">
                    <th scope="row">@user.UserId</th>
                    <td>@user.Email</td>
                    <td>@user.Password</td>
                    <td>@user.Role</td>
                    <td><a href="/User/Edit/@user.UserId"><i class="bi bi-pencil-square"></i></a></td>
                    <td><a href="/User/Delete/@user.UserId" onclick="redirectToPage()" id="myLink"><i class="bi bi-trash"></i></a></td>
                </tr>
            }

            </tbody>
        </table>
    </div>


<script>
    function redirectToPage() {
        var confirmation = window.confirm("Are you sure you want to delete User?");

        if (confirmation) {
            var targetUrl = document.getElementById("myLink").getAttribute("href");
            window.location.href = targetUrl;
        }
    }

</script>