
*,
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

.container {
    width: 1140px !important;
    margin: 0 auto;
}

.top_header {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    height: 160px;
    margin: 0 auto;
    text-align: center;
    align-items: center;
}

.w-25 {
    max-width: 25%;
    padding: 16px;
    flex: 1;
}

.logo_header img {
    width: 100%;
}

.search_header_wrap {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    border: 1px solid #333;
    height: 36px;
    border-radius: 20px;
    position: relative;
}

.search_header_input {
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    border: none;
    outline: none;
    left: 20px;
    font-size: inherit;
}

.search_header_icon {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 20px;
    right: 10px;
    font-size: 20px;
    color: #1e73ac;
    font-weight: bold;
}

.advertisement_header_wrap {
    display: flex;
}

.ad_day_day {
    color: #1e73ac;
    padding-left: 10px;
}

.number {
    font-size: 42px;
    line-height: 1;
    font-weight: 700;
}

.letter {
    font-size: 12px;
    text-transform: uppercase;
}

.ad_day_text {
    width: 100px;
    line-height: 1.4;
    text-align: left;
    font-weight: 700;
    position: relative;
    top: 6px;
    padding-left: 8px;
    font-size: 12px;
}

.cart_am_hd_wrap {
    display: flex;
    align-items: center;
}

.cart_admin_header_div {
    width: 50%;
    font-size: 16px;
    font-weight: 700;
    color: #1e73ac;
    color: #1e73ac;
    position: relative;
    text-decoration: none;
}

.cart_admin_header_div_faw {
    font-size: 40px;
    cursor: pointer;
}

.bot_header {
    background-color: #123d69;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
    justify-content: center;
    align-items: center;
}

.bot_header_item {
    overflow: hidden;
    padding-top: 18px;
    padding-bottom: 18px;
}

    .bot_header_item:hover {
        color: #fff;
        background-color: #0186cf;
    }

.bot_header_item_link {
    color: #fff;
    cursor: pointer;
    padding: 20px;
    position: relative;
    font-size: 18px;
    text-decoration: none;
}

.body_news_bar {
    display: flex;
    font-size: 15px;
    font-size: 15px;
    border-bottom: 1px solid #dee2e6;
    margin-bottom: 16px;
}

.body_news_bar_laptop {
    padding: 8px 16px;
    font-weight: bold;
    border-bottom: 2px solid #0186cf;
}

.body_news_bar_news_title {
    padding: 8px 16px;
}

.body_news_bottom {
    display: flex;
}

.body_news_list_news_item {
    cursor: pointer;
    display: flex;
    margin-bottom: 20px;
    justify-content: space-between;
}

.body_news_list_news_item_img {
    width: 30%;
    display: flex;
    justify-content: flex-end;
}

.body_news_list_news_item_img_img {
    height: 90px;
    max-width: 97%;
    margin-right: 20px;
}

.body_news_video {
    width: 60%;
    padding-right: 30px;
}

.body_news_list_news_item_content_title {
    font-size: 13px;
    font-weight: bold;
}

.body_news_list_news_item_content_day {
    color: #828282;
    font-size: 12px;
}

.body_news_list_news_item_content {
    width: 70%;
}

.evaluate h2 {
    margin-top: 30px;
    text-align: center;
    margin-bottom: 30px;
    font-size: 2rem;
}

.evaluate_item_img {
    width: 50%;
    border-radius: 50%;
    margin-bottom: 5px;
}

.evaluate_item_name {
    color: #123D69;
    font-size: 15px;
    text-align: center;
    font-weight: bold;
    line-height: 1.3;
    margin-bottom: 3px;
    text-transform: uppercase;
}

.evaluate_item_company {
    margin-bottom: 10px;
}

.evaluate_item_content {
    padding-left: 20px;
    margin-bottom: 50px;
    padding-right: 20px;
}

.evaluate_body {
    width: 100%;
    display: flex;
}

.evaluate_item {
    width: 25%;
    font-size: 13px;
    text-align: center;
}

.footer {
    background-color: #123d69;
}

.footer_info_logo_web {
    margin-bottom: 20px;
}

.footer_info {
    display: flex;
    flex-wrap: wrap;
    color: white;
    font-size: 16px;
    padding: 60px 0;
}

.footer_info_column {
    width: 33.33333%;
    padding: 16px;
}

.footer_info_address {
    margin-bottom: 16px;
}

    .footer_info_address span {
        padding-left: 6px;
    }

    .footer_info_address i {
        font-size: 20px;
    }

.footer_info_thue {
    padding: 16px 0 10px;
}

.footer_info_thue_detail div {
    margin-bottom: 6px;
}

.footer_info_customer_title {
    font-size: 16px;
    max-width: 280px;
    font-weight: bold;
    border-bottom: 1px solid #fff;
    margin-bottom: 18px;
    padding-bottom: 15px;
    text-transform: uppercase;
}

.footer_info_customer_item {
    cursor: pointer;
    display: flex;
    align-items: center;
    padding-bottom: 14px;
    display: flex;
    align-items: center;
}

    .footer_info_customer_item span {
        transition: all 0.3s linear;
    }

    .footer_info_customer_item:hover span {
        transform: translateX(6px);
        text-decoration: underline;
    }

    .footer_info_customer_item i {
        padding-right: 6px;
    }

.footer_info_customer {
    margin-bottom: 40px;
}

.footer_info_thue_info {
    display: flex;
    align-items: center;
}

    .footer_info_thue_info img {
        margin-right: 16px;
    }

.slide_container {
    display: flex;
    height: 270px;
    justify-content: space-between;
    margin-top: 15px;
}

.carousel-item-left {
    max-width: 66.66667%;
    height: 100%;
}

    .carousel-item-left img {
        height: 100%;
        width: 100%;
    }

.carousel-item-right {
    max-width: 33.33333%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

    .carousel-item-right img {
        width: 100%;
        height: 33.3333333%;
    }

.body_products {
    margin-top: 40px;
}

.body_products_item {
    cursor: pointer;
    display: flex;
    padding: 20px;
    padding-left: 0;
    margin-bottom: 40px;
    background-color: #1d73ac;
}

.body_products_item_left {
    max-width: 30%;
    padding: 0 20px;
}

    .body_products_item_left img {
        width: 100%;
    }

    .body_products_item_left h2 {
        text-align: center;
        color: #fff;
        font-size: 29px;
        text-align: center;
        font-weight: bold;
        margin-bottom: 15px;
        text-transform: uppercase;
    }

.body_products_item_right {
    width: 70%;
}

.body_products_see_all {
    color: #fff;
    display: flex;
    font-size: 18px;
    padding-top: 10px;
    margin-right: 30px;
    margin-bottom: 8px;
    justify-content: flex-end;
}

    .body_products_see_all:hover {
        text-decoration: underline;
    }

.body_products_item_right_list_product {
    display: flex;
    overflow: hidden;
    border: 6px solid #113d69;
    margin-right: 20px;
    border-radius: 12px;
    background-color: #fff;
}

.body_products_item_right_item {
    color: black;
    text-decoration: none;
    max-width: 33.333333%;
    flex-basis: 33.333333%;
    padding: 10px;
    background-color: #f8f9fa;
    overflow: hidden;
    transition: all 0.2s linear;
}

    .body_products_item_right_item:hover {
        box-shadow: 0 0 10px rgb(0 0 0 / 30%);
        z-index: 10;
    }

    .body_products_item_right_item img {
        width: 100%;
        height: 180px;
    }

.body_products_item_right_item_name {
    color: #000;
    font-size: 16px;
    font-weight: bold;
    line-height: 1.2;
    margin-bottom: 10px;
}

.body_products_item_right_item_price_left {
    color: #C42525;
    font-size: 16px;
    font-weight: bold;
}

.body_products_item_right_item_price_right {
    font-size: 12px;
    padding-right: 3px;
    text-decoration: line-through;
}

.body_products_item_right_item_price {
    display: flex;
    justify-content: space-between;
}

.body_products_item_right_item_rating {
    display: flex;
    margin-top: 8px;
    margin-bottom: 6px;
}

    .body_products_item_right_item_rating i {
        color: #ffc120;
    }

    .body_products_item_right_item_rating div {
        font-size: 12px;
        margin-top: 2px;
        margin-left: 4px;
    }

.body_products_item_right_item_specification_detail {
    font-size: 14px;
    margin-right: 14px;
    margin-bottom: 5px;
}

    .body_products_item_right_item_specification_detail i {
        color: #b6bfc7;
        font-size: 12px;
        margin-right: 4px;
    }

.body_products_item_right_item_specification {
    display: flex;
    padding: 10px 8px 12px;
    flex-wrap: wrap;
    border-radius: 5px;
    background-color: #f8f9fa;
}

.body_banner {
    display: flex;
    margin-bottom: 40px;
}

    .body_banner div {
        width: 50%;
        padding: 6px;
    }

        .body_banner div img {
            width: 100%;
        }

.body_nav {
    margin-top: 20px;
    margin-bottom: 30px;
}

.nav_home {
    color: #000;
    text-decoration: none;
}

    .nav_home:hover {
        color: blue;
        text-decoration: underline;
    }

.body_laptop_title {
    font-size: 35px;
    font-weight: bold;
    margin-bottom: 20px;
}

.body_laptop_type {
    display: flex;
    margin-top: 10px;
    margin-bottom: 20px;
}

.body_laptop_type_item {
    border: 1px solid #adacac;
    cursor: pointer;
    display: flex;
    padding: 10px 28px;
    margin-right: 16px;
    transition: all 0.3s linear;
    align-items: center;
    font-weight: bold;
    border-radius: 5px;
    justify-content: center;
}

    .body_laptop_type_item:hover {
        color: white;
        background-color: #0078dc;
    }

.body_price_sort {
    margin: 8px;
    width: 150px !important;
    margin-bottom: 16px;
}

.body_price_sort_wrap {
    display: flex;
    justify-content: flex-end;
    border-bottom: 1px solid #666;
    margin-top: 10px;
    margin-bottom: 20px;
}

.body_products_item_right_item {
    max-width: 25%;
    flex-basis: 25%;
    padding: 20px 20px 30px;
    background-color: #f8f9fa;
}

.body_laptop_products {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 60px;
}

.body_price_sort_wrap_btn {
    margin-bottom: 10px;
    font-weight: bold !important;
}

.dplfl {
    display: flex;
    align-items: center;
}

.body_title_name {
    font-size: 1.75rem;
    padding: 16px 0;
    width: 40%;
}

.body_title_rating_star i {
    color: #ffc120;
}

.body_title_rating_star div {
    padding: 4px 10px;
    border: 1px solid #888;
    margin-left: 8px;
    margin-right: 30px;
}

.body_title_name_rating_question div {
    color: #007bff;
    cursor: pointer;
    font-size: 14px;
}

.body_title_name_rating_question span {
    padding: 0 8px;
}

.body_title {
    padding-bottom: 16px;
    border-bottom: 1px solid rgb(182, 182, 182);
    margin-bottom: 16px;
}

.nav_home {
    padding: 0 6px;
}

.body_wrap {
    display: flex;
}

.body_product_left {
    width: 41%;
    padding: 16px;
}

.body_product_mid {
    width: 41%;
    padding: 16px;
}

.body_product_right {
    width: 18%;
    padding: 16px;
}

.body_product_left_img {
    width: 100%;
    margin-bottom: 60px;
}

    .body_product_left_img img {
        width: 100%;
    }

.body_product_left_promotion_item {
    display: flex;
    align-items: center;
    margin-bottom: 8px;
}

    .body_product_left_promotion_item i {
        color: #13bf13;
        margin-right: 4px;
        font-size: 16px;
    }

.body_product_left_promotion {
    border: 1px solid #ccc;
    padding: 25px 10px 5px;
    position: relative;
    font-size: 16px;
    border-radius: 4px;
}

.body_product_left_promotion_sticker i {
    color: red;
    font-size: 22px;
    margin-right: 8px;
}

.body_product_left_promotion_sticker {
    background-color: #f1f1f1;
    display: inline-block;
    top: -24px;
    left: 20px;
    border: 1px solid #ccc;
    display: inline-flex;
    padding: 6px 14px;
    position: absolute;
    align-items: center;
    font-weight: bold;
    border-radius: 4px;
}

.body_product_mid_price_container {
    display: flex;
    justify-content: space-between;
    padding: 15px 15px;
    margin-bottom: 35px;
    background-color: #efedee;
}

.body_product_mid_price_now_price {
    color: #ea0000;
    font-size: 24px;
    line-height: 1;
    padding-bottom: 10px;
}

.body_product_mid_price_last_price {
    color: #BDBDBD;
    font-size: 14px;
    font-weight: normal;
    margin-left: 5px;
    text-decoration: line-through;
}

.body_product_mid_price_vat_title {
    font-size: 14px;
    padding-bottom: 10px;
}

.body_product_mid_price_vat_stocking {
    color: #25b925;
    font-size: 18px;
}

.product_mid_detail_product strong {
    padding-right: 4px;
}

.product_mid_detail_product {
    padding-bottom: 14px;
}

.btn-danger-buying {
    width: 100%;
    margin: 14px 0;
}

.btn-danger-carting {
    width: 100%;
}

.body_product_mid_danger_text {
    color: red;
    font-size: 18px;
    text-align: center;
    padding-top: 14px;
}

.product_right_insurance_item {
    display: flex;
    font-size: 13px;
    margin-bottom: 10px;
}

    .product_right_insurance_item img {
        color: #1e73ac;
        font-size: 18px;
        margin-top: 2px;
        margin-right: 6px;
        width: 26px;
    }

    .product_right_insurance_item i {
        color: #1e73ac;
        font-size: 18px;
        margin-top: 2px;
        margin-right: 6px;
        width: 26px;
    }

    .product_right_insurance_item div {
        font-size: 13px;
    }

.product_right_insurance {
    border: 1px solid #ccc;
    padding: 4px;
    padding-top: 8px;
    border-radius: 4px;
    margin-bottom: 30px;
}

.product_right_address_insurance {
    border: 1px solid #ccc;
    padding: 10px 8px 8px;
    border-radius: 4px;
    margin-bottom: 30px;
}

.filter_screen {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    width: 30%;
}

    .filter_screen select {
        width: 35%;
    }

    .filter_screen strong {
        padding-right: 8px;
    }

.form_filter {
    display: flex;
    flex-wrap: wrap;
}

.filter_form_btn {
    width: 50%;
}

.filter_form_btn_button {
    margin-top: 6px;
    margin-bottom: 12px;
    padding: 8px 16px !important;
    font-size: 18px !important;
}

.body_laptop_type_item {
    border: 1px solid #adacac;
    cursor: pointer;
    display: flex;
    padding: 10px 28px;
    margin-right: 16px;
    transition: all 0.3s linear;
    align-items: center;
    font-weight: bold;
    border-radius: 5px;
    justify-content: center;
    text-decoration: none;
    color: black;
}

.body_laptop_type_item:hover {
    color: white;
    background-color: #0078dc;
}

.series_active {
    color: white;
    background-color: #0078dc;
}